* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .sp_only{
    max-width: 480px;
    margin: 0 auto;
    position: relative;
  }
img {
    max-width: 100%;
}
ul {    
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
button, .catch-button, .change-button, .pokeball-image {
  outline: none; /* フォーカス時のアウトラインを無効化 */
  -webkit-tap-highlight-color: transparent;
}

button:focus, .catch-button:focus, .change-button:focus, .pokeball-image:focus {
  outline: none;
  box-shadow: none; /* 一部のブラウザでフォーカス時の影を無効化 */
}